/* Font */
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Arvo:ital@1&family=Bad+Script&family=Bebas+Neue&family=Cardo:ital@1&family=DM+Sans&family=Figtree&family=Inter+Tight:wght@400;500&family=Inter:wght@400;700&family=Italianno&family=Josefin+Sans:wght@500;700&family=Marck+Script&family=Montserrat&family=Oooh+Baby&family=Poppins:ital,wght@0,300;0,400;0,600;1,700&family=Quattrocento&family=Quicksand:wght@700&family=Sawarabi+Gothic&family=Source+Sans+3&family=Stick+No+Bills:wght@800&family=Unna:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Arvo:ital@1&family=Bad+Script&family=Bebas+Neue&family=Cardo:ital@1&family=DM+Sans&family=Figtree&family=Inter+Tight:wght@400;500&family=Inter:wght@400;700&family=Italianno&family=Josefin+Sans:wght@500;700&family=Marck+Script&family=Montserrat&family=Oooh+Baby&family=Poppins:ital,wght@0,300;0,400;0,600;1,700&family=Quattrocento&family=Quicksand:wght@700&family=Sawarabi+Gothic&family=Source+Sans+3&family=Stick+No+Bills:wght@800&family=Unna:ital@1&display=swap");

/* custom scrollbar */
body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* custom css :) */

.navbar {
  font-family: "Poppins", sans-serif;
}

.container-custom-banner {
  width: 100%;
  height: 25vw;
  background-color: #aac8a7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  flex-direction: column;
}

.container-custom-banner h1 {
  font-weight: bolder;
  color: white;
  font-size: 5vw;
}

.container-custom-banner span h1 {
  font-weight: bolder;
  color: #ffd500;
  font-size: 5vw;
}

.container-custom-subbanner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3vw 0 3vw 0;
  font-family: "Poppins", sans-serif;
}
.subbaner {
  width: auto;
  text-align: center;
}

.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vw;
}

.search-wrap {
  border: #aac8a7 solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vw;
  border-radius: 10px;
  box-shadow: 8px 10px 40px rgb(187, 187, 187);
}

.input-bar {
  width: 45vw;
  outline: none;
  padding: 1vw 2.5vw 1vw 2.5vw;
  border: none;
}

.custom-btn {
  border: none;
  padding: 1vw 2.5vw 1vw 2.5vw;
  color: white;
  background-color: #aac8a7;
  border-radius: 10px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.jobicon {
  width: 6vw;
  height: 6vw;
  object-fit: cover;
  border-radius: 50%;
}

.jobiconn {
  width: 7vw;
  height: 7vw;
  object-fit: cover;
  border-radius: 50%;
}

.custom-card {
  width: 35vw;
  min-width: 200px;
  display: flex;
  gap: 2%;
  align-items: center;
  border-radius: 25px;
  padding: 1vw 2vw 1vw 2vw;
  border: solid 0.1vw grey;
  box-shadow: 5px 10px 40px rgb(187, 187, 187);
}

.card-wrap a {
  text-decoration: none;
}

.card-wrap {
  justify-content: center;
  margin: 0 0 5vw 0;
}

.card-text h1 {
  font-size: 1.5vw;
  font-weight: bold;
  text-decoration: underline;
  color: black;
}

.card-text h2 {
  color: #939393;
  font-size: 1.2vw;
  font-weight: 400;
}

.card-text h3 {
  font-size: 1vw;
  color: #939393;
  font-weight: 400;
}

.card-text h4 {
  font-size: 1.2vw;
  color: #009821;
}

.card-text p {
  font-size: 1vw;
  color: #bcbcbc;
  font-weight: 400;
}

.footer-wrap {
  border-top: #939393 solid 0.1vw;
}

.footer {
  justify-content: space-between;
  display: flex;
  align-items: baseline;
  padding: 1vw 0 1vw 0;
}

.footer a {
  text-decoration: none;
  color: #717171;
}

/* Jobs details style ni mas */
.custom-job-detail {
  border: solid 0.1vw #939393;
  padding: 2vw;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
}

.job-detail-header {
  border-bottom: solid 0.1vw #939393;
  padding-bottom: 3vw;
  margin-bottom: 2vw;
}

.job-detail-header h1 {
  font-size: 3vw;
}

.job-detail-header h3 {
  font-size: 1.2vw;
  color: #939393;
  font-weight: 400;
}

.btn-wrap .btn-cs-1 {
  border: none;
  font-weight: 500;
  border-radius: 10px;
  background-color: #aac8a7;
  padding: 0.8vw 2.5vw 0.8vw 2.5vw;
  color: white;
}

.btn-wrap .btn-cs-2 {
  border: solid 0.1vw black;
  font-weight: 500;
  border-radius: 10px;
  padding: 0.8vw 2.5vw 0.8vw 2.5vw;
}

.btn-cs-2 {
  border: solid 0.1vw black;
  font-weight: 500;
  border-radius: 10px;
  padding: 0.8vw 2.5vw 0.8vw 2.5vw;
  font-family: "Poppins", sans-serif;
}

.job-detail-subhead {
  align-items: center;
  width: 100%;
  display: flex;
  gap: 2;
  padding: 0%;
  border-bottom: solid 0.1vw #939393;
  padding-bottom: 2vw;
}

.job-detail-subhead h5 {
  font-size: 1.5vw;
  font-weight: bold;
}

.job-detail-subhead p {
  font-size: 1vw;
}

.job-detail-periode {
  margin-top: 3vw;
  border-bottom: solid 0.1vw #939393;
  padding-bottom: 2vw;
}

.job-detail-periode h5 {
  font-size: 1.5vw;
  color: #939393;
  font-weight: 400;
}

.job-detail-periode p {
  font-size: 1vw;
  font-weight: 600;
}

.job-detail-dsk {
  margin-top: 3vw;
}
